<!DOCTYPE html>
<html>
{{>head}}
<body>

  <div id="header">
    <div class="col-xs-12">
      <h1 class="text-center">
        <strong>Calories</strong>Counter
      </h1>
    </div>
  </div>

  <div class="container-fluid" id="content">
    {{{body}}}
  </div>

  {{>footer}}

</body>
</html>
